@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background.png');
  background-size: contain;
}

#logo {
  width: 140px;
  margin-top: 10px;
}

#logo:hover {
  filter: brightness(0) invert(1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: none;
  color: #4adedd;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

#navbar-right {
  display: flex;
  align-items: center;
  
}

.nav-links {
  font-size: 26px;
  margin-left: 15px;
  font-weight: 600;
}

.nav-links:hover, .nav-links:focus{
  filter: brightness(0) invert(1);
}

#linkedin-github-navbar {
  display: flex;
  margin-left: 20px;
}

.personal-links{
  font-size: 18px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.icons {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}



.personal-links:hover, .personal-links:focus{
  filter: brightness(0) invert(1);
}


#home{
  display: flex;
  flex-direction: column;
  padding: 200px 120px 250px 120px;
}

#home h1 {
  display: block;
  text-align: left;
  margin: 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#home h1 span {
 background-image: linear-gradient(
   -225deg,
   #142C4F 0%,
   #4adedd 29%,
   transparent 67%,
   white 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;

 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 3s linear infinite;
 display: inline-block;
     font-size: 70px;
     font-weight: 800;
}



.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume-download {
  background-color: #4adedd;
  color: #081427;
  border: 2px solid #081427;
  border-radius: 50px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-left: 23px;
}

.resume-download:hover {
  background-color: #081427;
  color: #4adedd;
  border: 2px solid #4adedd;
}

.boxes{
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.boxes-about{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 15px;
}

.center-slides {
  display: flex;
  justify-content: center;
}


h1 {
  font-size: 48px;
  margin: 0;
  padding: 20px;
  text-align: center;
}



.black-and-white-pic {
  height:350px;
  width: 400px;
  object-fit: cover;
  object-position: top;
  margin-top: 61px;

  

  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 92.5%);
  filter: contrast(115%) brightness(110%);
}

.about-container {
  max-width: 900px;
  margin: 50px auto 250px auto;
  padding: 35px 50px 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-content > div {
  flex-basis: 40%;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 75px;
}

.about-box {
  border: 2px solid #ccc;
  padding: 20px;
  font-size: 18px;
}

.samplewav-logo {
  width: 45vw;
  margin-bottom: 80px;
}

.best-fest-logo {
  width: 10vw;
}

.save-the-rave-logo {
  width: 25vw;
}

em{
font-weight: 800;
font-style: normal;
}


.project-pics{
  width: 50vw;
  border-radius: 15px;
}

.project-description {
  font-size: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.save-the-rave-pics{
  width: 40vw;
  border-radius: 15px;
}


.slick-slider {
  margin: 40px auto;
  width: 70%;
  position: relative;
}

.slick-prev,
.slick-next {
position: absolute;
top: 50%;
font-size: 50px;
color: #4adedd;
background: transparent;
border: none;
outline: none;
z-index: 1;
}

.slick-prev {
left: -40px;
transform: translateY(-50%);
}

.slick-next {
right: -40px;
transform: translateY(-50%);
}

.slick-prev:before,
.slick-next:before {
content: "";
display: inline-block;
width: 15px;
height: 15px;
transform: rotate(135deg);
}

.slick-prev:before {
margin-right: 8px;
}

.slick-next:before {
margin-left: 8px;
}

.slick-dots {
position: absolute;
bottom: -30px;
display: flex;
justify-content: center;
width: 100%;
}

.slick-dots li {
list-style-type: none;
margin: 0 4px;
}

.slick-dots li button {
display: block;
width: 50px;
height: 50px;
background-color: #4adedd;
border: none;
border-radius: 50%;
outline: none;
}

.slick-dots li.slick-active button {
background-color: #4adedd;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-logo {
  width: 40vw;
  margin-bottom: 1rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.skill-box {
  background-color: #4adedd;
  color: #081427;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 0.5rem 0.5rem 0;
}

.slick-prev,
.slick-next {
  font-size: 40px;
}

/* Override slick-slide height */
.slick-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px 0px;
}

.skill {
  background-color: #4adedd;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 14px;
}


#full-stack {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 3px;
}

#home,
#about,
#projects,
#contact {
  min-height: 800px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-out;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.column-layout #navbar-right {
  flex-direction: column;
}

.column-layout .nav-links,
.column-layout .personal-links {
  margin-left: 0;
  margin-bottom: 15px;
}

.column-layout #linkedin-github-navbar,
.column-layout #main-links{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.column-layout #linkedin-github-navbar .personal-links {
  margin-top: 15px;
}

.column-layout .nav-links,
.column-layout .personal-links {
  text-align: right;
  align-self: flex-end;
}

.column-layout .logo{
  display: flex;
  align-items: flex-start;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}