@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0 10px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background.png');
  background-size: contain;
}

#logo {
  width: 120px;
}

#logo:hover {
  filter: brightness(0) invert(1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: none;
  color: #4adedd;
  margin-top: 10px;
}

#navbar-right {
  display: flex;
  align-items: center;
  
}

.nav-links {
  font-size: 26px;
  margin-left: 15px;
  font-weight: 600;
}

.nav-links:hover, .nav-links:focus{
  filter: brightness(0) invert(1);
}

#linkedin-github-navbar {
  display: flex;
  margin-left: 20px;
}

.personal-links{
  font-size: 18px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.icons {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}



.personal-links:hover, .personal-links:focus{
  filter: brightness(0) invert(1);
}


#home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#home h1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

#home h1 span {
  font-weight: bold;
  background-image: linear-gradient(to right, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 5s infinite;
  -webkit-animation: gradient-animation 5s infinite; /* For Safari and other WebKit-based browsers */
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}



.resume-download {
  background-color: #4adedd;
  color: #081427;
  border: 2px solid #081427;
  border-radius: 50px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.resume-download:hover {
  background-color: #081427;
  color: #4adedd;
  border: 2px solid #4adedd;
}

.boxes{
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.boxes-about{
  background-color: rgba(255, 255, 255, 0.55);
  padding: 5px;
  border-radius: 15px;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
  max-width: 900px;
  margin: 0 auto 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-content > div {
  flex-basis: 40%;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
}

.about-box {
  border: 2px solid #ccc;
  padding: 20px;
}

.black-and-white-pic {
float: right;
  }


