@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background.png');
  background-size: contain;
}

#logo {
  width: 140px;
  margin-top: 10px;
}

#logo:hover {
  filter: brightness(0) invert(1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: none;
  color: #4adedd;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

#navbar-right {
  display: flex;
  align-items: center;
  
}

.nav-links {
  font-size: 26px;
  margin-left: 15px;
  font-weight: 600;
}

.nav-links:hover, .nav-links:focus{
  filter: brightness(0) invert(1);
}

#linkedin-github-navbar {
  display: flex;
  margin-left: 20px;
}

.personal-links{
  font-size: 18px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.icons {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.personal-links:hover, .personal-links:focus{
  filter: brightness(0) invert(1);
}

#home{
  display: flex;
  flex-direction: column;
  padding: 200px 120px 250px 120px;
}

#home h1 {
  display: block;
  text-align: left;
  margin: 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#home h1 span {
 background-image: linear-gradient(
   -225deg,
   #142C4F 0%,
   #4adedd 29%,
   transparent 67%,
   white 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 3s linear infinite;
 display: inline-block;
     font-size: 70px;
     font-weight: 800;
}

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume-download {
  background-color: #4adedd;
  color: #081427;
  border: 2px solid #081427;
  border-radius: 50px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-left: 23px;
}

.resume-download:hover {
  background-color: #081427;
  color: #4adedd;
  border: 2px solid #4adedd;
}

.boxes{
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.boxes-about{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 15px;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.black-and-white-pic {
  height:350px;
  width: 400px;
  object-fit: cover;
  object-position: top;
  margin-top: 61px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 92.5%);
  filter: contrast(115%) brightness(110%);
}

.about-container {
  max-width: 900px;
  margin: 50px auto 250px auto;
  padding: 35px 50px 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-content > div {
  flex-basis: 40%;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 75px;
}

.about-box {
  border: 2px solid #ccc;
  padding: 20px;
  font-size: 18px;
}

.samplewav-logo {
  width: 35vw;
  margin-bottom: 41px;
}

.best-fest-logo {
  width: 8vw;
}

.save-the-rave-logo {
  width: 19vw;
}

#projects-slider h2{
font-size: 18px;
}

.project-pics{
  width: 50vw;
  border-radius: 15px;
}

.save-the-rave-pics{
  width: 35vw;
  border-radius: 15px;
}

.slick-slider {
  margin: 40px auto 40px auto;
width: 70vw;
display: flex;

}

.skill {
  background-color: #4adedd;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0px;
}

em {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#full-stack {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 3px;
}

.project-description {
width: 70%;
text-align: justify;
margin-bottom: 30px;
}

#home,
#about,
#projects,
#contact {
  min-height: 800px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-out;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.column-layout #navbar-right {
  flex-direction: column;
}

.column-layout .nav-links,
.column-layout .personal-links {
  margin-left: 0;
  margin-bottom: 15px;
}

.column-layout #linkedin-github-navbar,
.column-layout #main-links{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.column-layout #linkedin-github-navbar .personal-links {
  margin-top: 15px;
}

.column-layout .nav-links,
.column-layout .personal-links {
  text-align: right;
  align-self: flex-end;
}

.column-layout .logo{
  display: flex;
  align-items: flex-start;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}